.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: 10px 20px;
  color: var(--color-text);
  position: relative;
}

.header-logo {
  height: 40px;
}

.nav-buttons {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-button {
  color: var(--color-text);
  text-decoration:solid;
  font-weight: bold;
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: var(--color-accent);
}

.icon-button {
  cursor: pointer;
  font-size: 20px;
}
