.header {
    width: 100%;
    margin: 0 0 1rem 0;
    background-color: green;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 90%;
}

.icon-button {
    font-size: 1.5rem;
    color: #212121;
    cursor: pointer;
    margin-right: 20px;
}

.header-logo {
    height: 70px;
    width: 70px;
    margin-right: 12px;
  }