name: Build and Push All Images

on:
  push:
    branches:
      - release
  pull_request:
    branches:
      - release

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component: [Backend, Frontend-Web, mqtt-logger]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set lowercase image name
        id: vars
        run: |
          echo "component_lowercase=$(echo '${{ matrix.component }}' | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_ENV"

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.component }}
          file: ./${{ matrix.component }}/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/activequest-${{ env.component_lowercase }}:latest
